<!DOCTYPE html>

<html lang='en'>

  <head>

    <meta charset='utf-8'>

    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">

    <title>TinyApp Index</title>

  </head>

  <body style='font-size:20px; padding:50px;'>

    <% include ./partials/_header.ejs %>

      <h2>My URLS</h2>
        <ul>
        <% for (const key in urls) { %>
          <li>
            Long URL: <%= urls[key].longURL %>   |   TinyURL: <a href='/u/<%= key %>'><%= key %></a>
            <a href="/urls/<%= key %>"> <u>Edit</u></a>
            <form method="POST" action="/urls/<%= key %>/delete"><button type="submit" class="btn btn-danger">Delete</button></form>
          </li>
        <% }; %>
        </ul>
  </body>
</html>

